.MeteoWidget {
  width: 220px;
  // max-width: 230px;
  height: 240px;
  max-height: 280;
  margin: 2rem auto;
  background-color: rgb(4, 0, 255);
  border: 4px solid #fa05ee;
  padding: 1rem;
  border-radius: 15px;
  text-align: left;
  color: #fff;

  &-container {
    display: flex;
    width: 220px;
    height: 250px;
    // box-sizing: border-box;
  }

  &-infos {
    width: 110px;
    max-height: 110px;
  }

  &-temperature {
    text-align: right;
    margin: 0;
    font-size: 2em;
    padding-bottom: 1rem;
  }

  &-city {
    margin: 0;
    font-size: 1.5em;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-code {
    margin: 1rem 0;
  }

  &-description {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    max-width: 100%;
    border-radius: 10%;
  }
}

// @media screen and (min-width: 1041px) and (max-width: 1542px) {
//   .MeteoWidget {
//     margin: 2rem;
//   }
// }
