.App {
  text-align: center;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 330px;
  justify-content: center;
  padding: 0.5rem;
}

.App-logo {
  pointer-events: none;
  width: 20vmin;
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  /*background-color: rgb(4, 0, 255);*/
  background: transparent;
  width: 100vw;
  min-height: 90px;
  // background-color: #282c34;
  // padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MeteoWidget-section {
  width: 100vw;
  //height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  // box-sizing: border-box;
  margin: 1rem;
  // min-height: 480px;
  min-width: 330px;
}

h1 {
  margin-bottom: 0.5rem;
}